footer {
    .top-footer {
        background-image: url("/images/footer-bg.jpg");
        background-size: cover;
        background-position: center;
        .container {
            >ul {
                list-style: none;
                color: $white-color;
                display: flex;
                >li {
                    width: (100% / 2);
                    &.dc-logo {
                        margin-left: auto;
                        background-image: url("/images/dc-logo-bg.png");
                        background-size: cover;
                        background-position: center;
                    }
                    >ul {
                        padding: 1em 0;
                        list-style: none;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        >li {
                            // border: 0.2em solid red;
                            width: (100% / 3);
                            padding: 0 1em;
                            .menu {
                                .title {
                                    text-transform: uppercase;
                                    // padding-top: 0.5em;
                                    padding-bottom: 0.5em;
                                }
                                >ul {
                                    list-style: none;
                                    >li {
                                        a {
                                            // opacity: 0.5;
                                            color: rgba($color: #fff, $alpha: 0.5);
                                            &:hover {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .copyright {
                        // border: 0.2em solid red;
                        padding: 1em;
                        color: rgba($color: #fff, $alpha: 0.5);
                        a {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .bottom-footer {
        background-color: $secondary-color;
        color: $white-color;
        .container {
            >ul {
                display: flex;
                align-items: center;
                list-style: none;
                justify-content: space-between;
                padding-top: 2em;
                padding-bottom: 1em;
                >li {
                    padding: 0 1em;
                    // border: 0.2em solid red;
                    .sign-up {
                        display: inline-block;
                        border: 0.2em solid $primary-color;
                        padding: 0.2em 1em;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    >ul {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        >li {
                            padding: 0 0.4em;
                            h2 {
                                color: $primary-color;
                                text-transform: uppercase;
                                margin-right: 0.5em;
                            }
                            a {
                                position: relative;
                                display: inline-block;
                                // border: 0.2em solid red;
                                background-color: rgba($color: #fff, $alpha: 0.2);
                                width: 2.1em;
                                border-radius: 10em;
                                transition: 0.2s;
                                // a: b;
                                &::before {
                                    display: block;
                                    content: "";
                                    padding-bottom: 100%;
                                }
                                &:hover {
                                    background-color: $white-color;
                                }
                                i {
                                    font-size: 1.2em;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: $secondary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}