header {
    .top-header {
        background-color: $main-color;
        .container {
            display: flex;
            justify-content: flex-end;
            ul {
                list-style: none;
                display: flex;
                li {
                    border: 0.2em solid;
                    padding: 0 1em;
                    a {
                        color: $white-color;
                    }
                }
            }
        }
    }
}