header {
    // TOP HEADER
    .top-header {
        background-color: $primary-color;
        .container {
            display: flex;
            justify-content: flex-end;
            ul {
                list-style: none;
                display: flex;
                font-size: 0.9em;
                font-weight: bold;
                li {
                    padding: 0.2em 1em;
                    a {
                        color: $white-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    // NAVBAR
    nav {
        display: flex;
        // border: 0.2em solid green;
        // border: 0.2em solid red;
        // margin: 1em 0;
        .logo {
            // border: 0.2em solid red;
            height: 3.5em;
            margin: 1em 0;
            img {
                // width: 100%;
                height: 100%;
            }
        }
        ul {
            // border: 0.2em solid yellowgreen;
            flex-grow: 1;
            justify-content: flex-end;
            display: flex;
            list-style: none;
            // padding-left: 1em;
            padding-right: 4em;
            li {
                display: flex;
                // border: 0.2em solid;
                padding: 0 1em;
                font-weight: bold;
                text-transform: uppercase;
                align-items: center;
                a {
                    display: flex;
                    align-items: center;
                    // border: 0.2em solid red;
                    color: $secondary-color;
                    text-decoration: none;
                    i {
                        color: $primary-color;
                        font-size: 0.8em;
                        margin-left: 0.8em;
                    }
                }
                &.active {
                    border-bottom: 0.2em solid $primary-color;
                }
            }
        }
        .search-bar {
            // border: 0.2em solid;
            display: flex;
            align-items: center;
            // width: 10em;
            label {
                border-bottom: 0.2em solid $primary-color;
                display: flex;
                align-items: center;
                input {
                    width: 100%;
                    padding: 0.2em;
                    padding-right: 0.4em;
                    border: none;
                    outline: none;
                    // outline: 0.2em solid red;
                    font-size: 1em;
                    font-family: 'PT Sans Narrow', sans-serif;
                    &::placeholder {
                        text-align: right;
                        font-weight: bold;
                        opacity: 1;
                    }
                    &:focus::placeholder {
                        opacity: 0;
                    }
                }
                button {
                    font-size: 1em;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
    // HERO
    .hero {
        position: relative;
        // border: 0.2em solid red;
        height: 20em;
        background-image: url("/images/jumbotron.jpg");
        background-size: cover;
        background-position: top;
        &.cover::before {
            position: absolute;
            display: block;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $primary-color;
            opacity: 0.4;
        }
    }
}