header {
    .top-header {
        background-color: $main-color;
        .container {
            display: flex;
            justify-content: flex-end;
            ul {
                list-style: none;
                display: flex;
                font-size: 0.9em;
                font-weight: bold;
                li {
                    padding: 0.2em 1em;
                    a {
                        color: $white-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}