main {
    background-color: $black-color;
    color: $white-color;
    section.current-series {
        .container {
            >.title {
                transform: translate(0, -50%);
                display: inline-block;
                padding: 0.5em 1em;
                font-size: 1.2em;
                text-transform: uppercase;
                background-color: $primary-color;
            }
            ul {
                // padding: 0.5em 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li {
                    padding: 1em;
                    width: (100% / 6);
                    .item {
                        // border: 0.2em solid red;
                        .poster {
                            position: relative;
                            // outline: 0.2em solid orange;
                            width: 100%;
                            &::before {
                                display: block;
                                content: "";
                                padding-bottom: 100%;
                            }
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: top;
                            }
                        }
                        .title {
                            padding: 0.5em 0.2em;
                        }
                    }
                }
            }
            .btn-more {
                margin-top: 2em;
                margin-bottom: 4em;
                display: flex;
                justify-content: center;
                button {
                    background-color: $primary-color;
                    font-size: 1.2em;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 0.5em 4em;
                }
            }
        }
    }
    section.info {
        background-color: $primary-color;
        padding: 1em 0;
        .container {
            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                // border: 0.2em solid red;
                li {
                    // border: 0.2em solid orange;
                    padding: 1em 2em;
                    a {
                        display: flex;
                        align-items: center;
                        // border: 0.2em solid green;
                        .icon {
                            // border: 0.2em solid brown;
                            height: 4em;
                            img {
                                height: 100%;
                            }
                        }
                        .text {
                            margin-left: 1em;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}